<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left">
    {{#if @blog.navigation}}
        <section class="menu_purus">
            {{navigation}}
        </section>
    {{/if}}
    
    <section class="subscribe_purus">
        {{> custom/social-media this}}
    </section>                  
</div>   