<h6>Subscribe</h6>

{{ subscribe_form }}

<a href="https://twitter.com/flood_io"><i class="fa fa-twitter"></i><span class="hidden_purus">Twitter</span></a>
<a href="https://facebook.com/floodio"><i class="fa fa-facebook"></i><span class="hidden_purus">Facebook</span></a>
<a href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i><span class="hidden_purus">Subscribe</span></a>